@font-face {
	font-family: "PTSans-Regular";
	src:url("fonts/web/ptsans.woff"),
		font-weight: normal;
}

@font-face {
	font-family: "PTSans-Bold";
	src:url("fonts/web/ptsansbold.woff"),
		font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	width: auto;
	height: auto;
	background-color: #F2F2F2;
}

body {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	font-size: 14px;
	font-family: "PT Sans", Arial, Verdana, sans-serif;
	font-style: normal;
	color: #000;
	box-shadow: 0 0 25px -3px rgba(0, 0, 0, 0.5);
	background-color: #fff;
}

.main-header {
	height: 57px;
	line-height: 55px;
}

.container {
	position: relative;
	width: 1056px;
	margin: 0 auto;
}

.left-items {
	position: relative;
	float: left;
	width: 455px;
	padding: 0;
	margin: 0 auto;
	z-index: 1000;
}

.left-items li {
	display: inline-block;
	list-style: none;
	margin-right: 130px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}

.left-items li:last-child {
	margin-right: 0;
}

.left-items a {
	display: block;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.right-items {
	position: relative;
	float: right;
	width: 461px;
	padding: 0;
	margin: 0 auto;
	z-index: 1000;
}

.right-items li {
	display: inline-block;
	list-style: none;
	margin-left: 127px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}

.right-items li:last-child {
	margin-left: 147px;
}

.right-items a {
	display: block;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.logo {
	position: absolute;
	z-index: 100;
	display: inline-block;
	width: 138px;
	margin-left: -50px;
}

.logo img {
	position: absolute;
}
/*Начало стилей внутренней страницы*/


.background-wrapper {
	padding-bottom: 3px;
	background-color: #fff;
	background-image: url(../img/inner-ground.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.inner-container {
	width: 1056px;
	margin: 0 auto;
}

.inner-left {
	display: inline-block;
	padding-top: 15px;
	margin-right: 0;
	margin-bottom: 19px;
	vertical-align: top;
}


.infrastructure-wrapper {
	display: inline-block;
	width: 240px;
	vertical-align: top;
}

.infrastructure-title {
	display: inline-block;
	line-height: 21px;
	padding: 11px 0;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}
.infrastructure-grid {
	position: relative;
	padding: 0;
	border: none;
}

.infrastructure-grid > label {
	position: relative;
	display: block;
	padding: 16px 0 9px 39px;
	color: #fff;
	text-transform: uppercase;
	line-height: 21px;
}

.сheck-on-field::before {
	content: "";
	position: absolute;
	width: 26px;
    height: 22px;
    left: 0;
    top: 14px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -24px -94px;
}
.сheck-off-field::before {
	content: "";
	position: absolute;
	width: 22px;
    height: 22px;
    left: 0;
    top: 13px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -231px -24px;
}

.infrastructure-grid input {
	display: none;
}

.residence-wrapper {
	display: inline-block;
	width: 268px;
	padding-left: 14px;
	margin-left: -4px;
	vertical-align: top;
}

.residence-grid {
	padding: 0;
	border: none;
}

.residence-grid > label {
	position: relative;
	display: block;
	padding: 16px 0 9px 39px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
} 

.residence-wrapper input {
	display: none;
}

.residence-title {
	display: inline-block;
	line-height: 21px;
	padding: 11px 0;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}

.inner-right {
	display: inline-block;
	width: 528px;
}

.cost {
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	padding-left: 213px;
	padding-top: 29px;
	letter-spacing: -1px;
}

.form-container {
	display: inline-block;
	padding-top: 12px;
	margin: 0  75px 15px 213px;
}

.price-block {
	position: relative;
	width: 312px;
	border: 2px solid #fff;
}

.price-block span {
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	padding-left: 65px;
	color: #fff;
	text-transform: uppercase;
}

.price-block span:first-of-type::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	top: 4px;
	left: 155px;
	bottom: 5px;
	background-color: #fff;
}

.inner-number {
	width: 50px;
	border: none;
	color: #fff;
	margin-right: 4px;
	padding: 6px 0 7px;
	background-color: transparent;
	display: inline-block;
}

::-webkit-input-placeholder {
	color: #fff;
}

.button-wrapper {
	position: relative;
	width: 270px;
	height: 2px;
	background-color: #fff;
	margin: 21px 0 19px 5px;
}

.active-line {
	position: absolute;
	top: 0;
	left: 260px;
	width: 50px;
	height: 2px;
	background-color: #8A7F7F;
}

.buttons {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	background-color: #8A7F7F;
}

.max-button {
	left: 247px;
}

.buttons:active {
	background-color: #1C4F80;
}

.inner-right .cost-btn {
	display: inline-block;
	width: 135px;
	color: #fff;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #fff;
	line-height: 21px;
	margin-left: 297px;
}

.inner-box {
	margin-top: 28px;
	padding-bottom: 20px;
}

.sorting-results {
	display: inline-block;
	margin-left: 72px;
	font-size: 21px;
	line-height: 26px;
	letter-spacing: -1px;
	font-weight: bold;
	text-transform: uppercase;
}

.sorting-links {
	display: inline-block;
	margin-left: 35px;
	letter-spacing: -1px;
}

.sorting-title {
	display: inline-block;
	padding: 9px 27px 10px 10px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting-links a {
	display: inline-block;
	font-size: 12px;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #C6C6C6;
	border-bottom: 1px dashed #81B3D2;
}

.sorting-links .active {
	color: #81B3D2;
	border: none;
}

.sorting-container {
	position: relative;
	display: inline-block;
	margin-left: 480px;
}

.sorting-container a {
	font-size: 0;
}

.sorting-container .up::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 6px;
	background-image: url(../img/spritesheet.png);
	width: 11px;
    height: 10px;
    background-position: -301px -24px;
}

.sorting-container .down::after {
	content: "" ;
	position: absolute;
	top: 2px;
	left: 29px;
	background-image: url(../img/spritesheet.png);
	width: 11px;
    height: 10px;
    background-position: -157px -94px;
}

.hotels-container {
	border-bottom: 1px solid #E5E5E5;
}

.common-container .hotels-container:first-child {
	border-top: 1px solid #E5E5E5;

}
.hotels-wrapper {
	padding: 16px 0 29px 2px;
}

.hotels-box {
	width: 1056px;
	margin: 0 auto;
}	

.photo-container {
	display: inline-block;
	vertical-align: top;
}

.representative-card {
	width: 260px;
	display: inline-block;
	margin-left: 27px;
	vertical-align: top;
}

.representative-card-title {
	font-size: 21px;
	line-height: 26px;
	padding-top: 8px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-weight: bold;
}

.residence-type {
	display: inline-block;
	margin: 0;
	padding-top: 9px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.residence-price {
	display: inline-block;
	padding-left: 35px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.representative-card a {
	display:  inline-block;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -1px;
	color: #fff;
	padding: 6px 14px;
	margin-top: 18px;
}

.hotel {
	padding-top: 13px;
}

.representative-card .more {
	background-color: #81B3D2;
}

.representative-card .reservation {
	background-color: #766357;
	margin-left: 4px;
}

.rating {
	display: inline-block;
	width: 133px;
	margin-left: 474px;
}

.rating-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 22px;
	width: 100px;
	list-style: none;
	margin-left: 43px;
	margin-top: 10px;
}

.rating-block li::before {
	position: absolute;
	content: "";
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.rating-block li:nth-of-type(2)::before{
	position: absolute;
	content: "";
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 28px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.rating-block li:nth-of-type(3)::before {
	position: absolute;
	content: "";
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 53px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.rating-block li:nth-of-type(4)::before {
	position: absolute;
	content: "";
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 76px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.rating-results {
	line-height: 21px;
	text-transform: uppercase;
	background-color: #F2F2F2;
	margin-left: 27px;
	margin-top: 30px;
	padding: 4px 0;
	width: 110px;
	text-align: center;
	letter-spacing: -1px;
}

.hotels-container .hotels-wrapper:nth-of-type(2){
	margin-top: 30px;
	padding-top: 16px;
}

.hotels-container:nth-of-type(2) .rating-block {
	width: 73px;
	margin-left: 63px;
}

.hotels-container:nth-of-type(3) .rating-block {
	width: 53px;
	margin-left: 83px;
}

.inner-footer {
	margin-top: 30px;
	padding-bottom: 30px;
}

.inner-footer-container {
	width: 1056px;
	margin: 0 auto;

}

/*Конец стилей внутренней страницы*/

.wrapper {
	position: relative;
	width: auto;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slogan {
	width: 575px;
	margin-left: auto;
	margin-right: auto;
}

.slogan > div {
	width: 495px;
	text-align: center;
	margin: 0 auto;
}

.greeting {
	padding-top: 74px;
}

.text {
	padding-top: 9px;
}

.city-name {
	padding-top: 43px;
}

.quote {
	padding-top: 53px;
}

.sub-container {
	position: absolute;
	width: 1200px;
	height: 78px;
	font-size: 0;
	background-image: url(../img/pattern.png);
	background-repeat: no-repeat;
	background-position: 0 21px;
}

.description {
	position: relative;
	width: auto;
	background-color: #fff;
	margin-top: 78px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.title {
	display: block;
	width: 505px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 57px;
	margin-bottom: 19px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
}

.text {
	display: block;
	width: 525px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 49px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}

.block-text {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	background-color: #81B3D2;
}

.block-text-wrapper {
	display: block;
	width: 310px;
	margin-right: auto;
	margin-left: auto;
}

.block-text-wrapper .subtitle {
	width: 140px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 49px;
	margin-bottom: 0;
	font-size: 21px;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -1px;
}

 .block-text {
	margin-right: 0;
}

.city-foto {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}

.city-foto {
	margin-right: 0px;
	margin-left: -4px;
}

.number {
	display: block;
	width: 63px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	color: #fff;
	font-weight: normal;
}

.short-text {
	display: block;
	width: 310px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	padding-bottom: 45px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -1px;
}

.features {
	width: 1200px;
	background-color: #fff;
	padding: 45px 0 67px 0;
}

.features-container {
	position: relative;
	display: inline-block;
	margin-right: 0;
	width: 400px;
	vertical-align: top;
}

.features-container:not(:first-child){
	margin-left: -4px;
}

.features-title {
	display: block;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 115px;
	margin-bottom: 15px;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
}

.house::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 50%;
	width: 75px;
	height: 72px;
	margin-left: -37.5px;
	background-image: url(../img/house.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.food::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 50%;
	width: 75px;
	height: 72px;
	margin-left: -37.5px;
	background-image: url(../img/food.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.souvenirs::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 50%;
	width: 75px;
	height: 72px;
	margin-left: -37.5px;
	background-image: url(../img/souvenirs.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.features-text {
	display: block;
	width: 310px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
}

.second-reason-block {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	background-color: #81B3D2;
}

.second-reason-wrapper {
	display: block;
	width: 310px;
	margin-right: auto;
	margin-left: auto;
}

.second-reason-subtitle {
	width: 153px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 49px;
	margin-bottom: 0;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -1px;
}

.second-reason-block {
	margin-left: -4px;
}

.second-reason-foto {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}

.second-reason-number {
	display: block;
	width: 63px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	color: #fff;
	font-weight: normal;
}

.second-reason-short-text {
	display: block;
	width: 306px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	padding-bottom: 45px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -1px;
}

.reasons {
	background-color: #eee;
	margin-top: -3px;
}

.reasons-wrapper {
	display: inline-block;
	width: 400px;
}

.reasons-wrapper {
	margin-right: 0;
}

.reasons-wrapper:not(:first-child) {
	margin-left: -4px;
}

.reasons-subtitle {
	width: 159px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 45px;
	margin-bottom: 0;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -1px;
}

.reasons-block {
	margin-left: -4px;
}

.reasons-number {
	display: block;
	width: 63px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	color: #000;
	font-weight: normal;
}

.reasons-short-text {
	display: block;
	width: 306px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	padding-bottom: 45px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -1px;
}

.search-block {
	position: relative;
	width: auto;
	background-color: #fff;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.search-block-title {
	display: block;
	width: 505px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 57px;
	margin-bottom: 19px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -2px;
	font-size: 30px;
	line-height: 24px;
}

.search-block-text {
	display: block;
	width: 525px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 49px;
	margin-top: 30px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.button {
	display: block;
	width: 568px;
	margin-right: auto;
	margin-left: auto;
	padding: 28px 0;
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

.block-map {
	width: auto;
}

.footer {
	position: relative;
	bottom: 50px;
	margin-top: 30px;
}

.footer-container {
	content: "";
	position: absolute;
	bottom: -17px;
	width: 1056px;
	padding: 33px 75px 29px 70px;
	background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
	display: inline-block;
	width: 155px;
	padding-left: 62px;
	padding-top: 12px;
	vertical-align: middle;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.social-container {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-left: 235px;
	padding-top: 4px;
}

.social-btn {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-right: 3px;
	vertical-align: middle;
	background-color: #81B3D2;
	font-size: 0;
}

.social-btn:hover {
	background-color: #669EC0;
}

.social-twitter {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -200px -136px;
}

.social-twitter:hover {
	background-color: #669EC0;
}

.social-twitter:active {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position:  -200px -199px;
}

.social-facebook {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -82px -140px;
}	

.social-facebook:hover {
	background-color: #669EC0;
}

.social-facebook:active {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -140px -140px;
}

.social-youtube {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -266px -184px;
}

.social-youtube:hover {
	background-color: #669EC0;
}

.social-youtube:active {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -266px -248px;
}

.website-by {
	display: inline-block;
	margin-left: 174px;
	vertical-align: top;
}

.website-by-text {
	display: inline-block;
	margin-bottom: 18px;
	vertical-align: top;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.htmlacademy {
	display: inline-block;
	margin-left: 4px;
	margin-top: 7px;
	font-size: 0;
}
